.forgot-password-container {
  text-align: left;
  color: #333;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.forgot-password-container h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: #2b2b2b;
}

.step-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.4;
}

.form-input-group {
  margin-bottom: 15px;
}

.form-input-group label {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #666;
}

.form-input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  color: black;
}

/* OTP Specific Styling */
.otp-input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
}

.otp-box {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  color: black;
}

.otp-box:focus {
  border-color: #fa8b02;
}

.forgot-submit-btn {
  width: 100%;
  background-color: #fa8b02;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.forgot-submit-btn:hover {
  background-color: #e67e00;
}

.resend-text {
  text-align: center;
  font-size: 0.85rem;
  color: #666;
  margin-top: 20px;
}

.resend-text span {
  color: #fa8b02;
  font-weight: bold;
 

.error-message {
  color: #d32f2f;
  font-size: 0.85rem;
  margin-bottom: 15px;
  margin-top: -10px;
} cursor: pointer;
}