.signup-form-container {
  text-align: left;
  color: #333;
}

.signup-form-container h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #2b2b2b;
}

.form-input-group {
  margin-bottom: 10px;
}

.form-input-group label {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 2px;
  color: #666;
}

.form-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  color: black;
}

.password-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 18px 0;
  font-size: 0.8rem;
}

.form-checkbox label{
    color: black;
}

.form-checkbox .highlight {
  color: #fa8b02;
  font-weight: bold;
  cursor: pointer;
}

.signup-submit-btn {
  width: 100%;
  background-color: #fa8b02;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-submit-btn:hover {
  background-color: #e67e00;
}

.form-divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.form-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eee;
  z-index: 1;
}

.form-divider span {
  background: white;
  padding: 0 10px;
  color: #999;
  font-size: 0.8rem;
  position: relative;
  z-index: 2;
}

.google-signup-btn {
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #555;
  margin-bottom: 20px;
  height: 35px;
}

.google-signup-btn img {
  width: 18px;
}

.form-footer {
  text-align: center;
  font-size: 0.85rem;
  color: #666;
}

.login-link {
  color: #fa8b02;
  font-weight: bold;
  cursor: pointer;
}

.error-message {
  color: #d32f2f;
  font-size: 0.85rem;
  margin-bottom: 15px;
  margin-top: -8px;
}
